<launch>

        <arg name="camera_config" value="MT9V034_VGA.json" /> 
        <arg name="horizontal_flip" value="false" /> 
        <arg name="vertical_flip" value="false" />
        <arg name="frame_id" value="cam" />
        <arg name="gray_scale" value="False" /> 
        <arg name="cam_delay" value= "0.0" />

        <node name="arducam_trigger_ros_node" pkg="arducam_usb2_ros" type="arducam_trigger_sync_node_mavros.py" output="screen">
            <param name="config_file" value="$(find arducam_usb2_ros)/camera_config_files/$(arg camera_config)" />
            <param name="horizontal_flip" value="$(arg horizontal_flip)" />
            <param name="vertical_flip" value="$(arg vertical_flip)" />
            <param name="frame_id" value="$(arg frame_id)" />
            <param name="grayscale" value="$(arg gray_scale)" />
            <param name="cam_time_delay" value="$(arg cam_delay)" />
        </node>
        <include file="$(find arducam_usb2_ros)/launch/px4.launch"/>

</launch>
